  <header>
    <h1><a href="/loghome">Tech Blog</a></h1>
    <nav>
      <ul>
        <li><a href="/loghome">Home</a></li>
        <li><a href="/logout" class="btn">Log Out</a></li>
      </ul>
    </nav>
  </header>

  <div class="container">
    <section class="dash">
      <h2>Welcome to Your Dashboard, @{{username}}</h2>
    </section>

    <section class="new-post">
      <h3>Add a New Post</h3>
      <form action="/add-post" method="POST">
        <input type="text" name="title" placeholder="Title" required>
        <textarea name="content" placeholder="Content" required></textarea>
        <button type="submit">Post</button>
      </form>
    </section>
    
    <section class="user-posts">
      <h3>Your Posts</h3>
      <ul>
        {{#each userPosts}}
          <article class="post">
            <p>@{{this.dataValues.user_id}}</p>
            <h3>{{this.dataValues.title}}</h3>
            <p>{{this.dataValues.content}}</p>
            <a href="/post/{{this.dataValues.id}}">Read more</a>
          </article>
        {{/each}}
      </ul>
    </section>
  </div>

  <footer>
    <p>&copy; 2023 Tech Blog</p>
  </footer>