<header>
    <h1><a href="/loghome">Tech Blog</a></h1>
  <nav>
    <ul>
        <li><a href="/loghome">Home</a></li>
        <li><a href="/dash">Dashboard</a></li>
        <li><a href="/logout">Log Out</a></li>
    </ul>
  </nav>
</header>

<section class="post-edit">
  <h3>Edit Your Post</h3>
</section>

<main>
  <article class="edit-post">
    <ul>
      {{#if post}}
        <div class="post-header"></div>
          <p class="post-user">@{{post.dataValues.username}}</p>
          <div class="post-actions"></div>
            <form method="POST" action="/edit/{{post.dataValues.id}}" id="edit-post-form"></form>
              <input type="hidden" id="post-id" value="{{post.dataValues.id}}">
              <button type="submit" id="save-button" class="save-button">Save</button>
              <input type="hidden" name="_method" value="PUT">
              <input type="text" id="title-input" name="title" class="post-title" placeholder="{{post.dataValues.title}}" required>
              <textarea id="content-input" name="content" class="post-content" placeholder="{{post.dataValues.content}}" required></textarea>
            </form>
          </div>
        </div>
      {{else}}
        <p class="post-not-found">Post not found</p>
      {{/if}}
    </ul>
  </article>
</main>

<footer>
  <p>&copy; 2023 Tech Blog</p>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("edit-post-form");
    console.log("JavaScript file loaded");
    form.addEventListener("submit", function (e) {
      e.preventDefault();

      const postId = document.getElementById("post-id").textContent;
      const updatedTitle = document.getElementById("title-input").value;
      const updatedContent = document.getElementById("content-input").value;

      console.log("Post ID:", postId);
      console.log("Updated Title:", updatedTitle);
      console.log("Updated Content:", updatedContent);

      fetch(`/edit/${postId}`, {
        method: "PUT",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ title: updatedTitle, content: updatedContent }),
      })
        .then((response) => response.json())
        .then((data) => {
          console.log("Response from server:", data);
          window.location.href = '/dash';
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    });
  });
</script>