<header class="blog-page">
  <h1><a href="/loghome">Tech Blog</a></h1>
  <nav>
    <ul>
      <li><a href="/dash">Dashboard</a></li>
      
      <li><a href="/logout">Log Out</a></li>
      
    </ul>
  </nav>
</header>
  
<main class="container home">
<section class="posts">
  <h2>Welcome to the Tech Blog Homepage, @{{username}}</h2>
  {{#each userPosts}}
    <article class="post">
      <p>@{{this.dataValues.user_id}}</p>
      <h3>{{this.dataValues.title}}</h3>
      <p>{{this.dataValues.content}}</p>
      <a href="/post/{{this.dataValues.id}}">Read more</a>
    </article>
  {{/each}}
</section>
</main>

<footer class="blog-page">
  <p>&copy; 2023 Tech Blog</p>
</footer>
