<header>
  {{#if userId}}
    <h1><a href="/loghome">Tech Blog</a></h1>
  {{else}}
    <h1><a href="/">Tech Blog</a></h1>
  {{/if}}
  <nav>
    <ul>
      {{#if userId}}
        <li><a href="/loghome">Home</a></li>
        <li><a href="/dash">Dashboard</a></li>
        <li><a href="/logout">Log Out</a></li>
      {{else}}
        <li><a href="/">Home</a></li>
        <li><a href="/login">Log In</a></li>
        <li><a href="/signup">Sign Up</a></li>
      {{/if}}
    </ul>
  </nav>
</header>

<main>
  <article class="single-post">
      {{#if post}}
        <div class="post-header"></div>
          <p class="post-user">@{{post.dataValues.username}}</p>
          <h3 class="post-title">{{post.dataValues.title}}</h3>
        </div>
        <p class="post-content">{{post.dataValues.content}}</p>
      {{else}}
        <p class="post-not-found">2 Post not found 2</p>
      {{/if}}
    </article>

    {{#if userId}}
      <section class="new-comment">
        <h3>Add a Comment</h3>
        <form action="/comment/{{post.dataValues.id}}" method="POST">
          <textarea name="commentText" class="comment-textarea" placeholder="Write your comment here" required></textarea>
          <button type="submit" class="comment-submit">Submit</button>
        </form>
      </section>
    {{/if}}

    <section class="comments">
      {{#if comments.length}}
        {{#each comments}}
          <div class="comment">
            <p class="comment-user">@{{this.dataValues.username}}</p>
            <p class="comment-text"><strong>"{{this.dataValues.text}}"</strong></p>
          </div>
        {{/each}}
      {{else}}
        <p class="no-comments">No comments</p>
      {{/if}}
    </section>
</main>

<footer>
  <p>&copy; 2023 Tech Blog</p>
</footer>
