<div class="post">
  <h2>{{ title }}</h2>
  <p>{{ content }}</p>
  <p>Author: {{ author }}</p>
  <a href="/post/{{ id }}/comment">Leave a Comment</a>
</div>

<div class="comments">
  {{#each comments}}
    <div class="comment">
      <p>{{ text }}</p>
      <p>Comment by: {{ author }}</p>
    </div>
  {{/each}}
</div>